* {
  font-family: "Ubuntu",sans-serif;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: blue;
}

#search-rules {
  font-size: 12px;
  color: red;
}

h1 {
  font-size: 45px;
}

#P-1 {
  color: red;
}

#name {
  color: red;
  padding-bottom: 2%;
  font-weight: 900;
  font-size: 25px;
}

#description {
  padding-bottom: 2%;
}
